body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
.alert {
    background-color: #ff4545;
    margin: 50px;
}
.form_Login {
    background-color: rgb(65, 9, 65);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 300px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    border-color: white;
    border-width: 5px;
    color: white;
    text-align: center;
}
input {
    margin: 5px;
    margin-bottom: 10px;
}
.log-in, .log-out, .register {   
  background-color: #00acb0;
  margin: 30px;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}
.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}
/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
/* login page */
.login-page{
    background-image: url("/images/lamp1.JPG");
    background-repeat: no-repeat;
    background-size: cover;

}
/* Admin/home page */
/* .admin_main {
    margin-Top: auto;
    background-image: url("/images/Peacocktap.JPG");
    background-repeat: no-repeat;
    background-size: cover;

} */
/*  */
.user_header{
    
    text-decoration: underline;
    font-size: 50px;
    text-align: center;
    font-family: 'Vampiro One', cursive;
}

/* Add New Customer/ update customer pag */
.form_newCust {
    opacity: 0.8 ;

    border-radius: 2px;    
}
.project_page, .notes_main {
    /* padding: 20px; */
    background-image: url("/images/workbench.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.project_contact {
    padding: 20px;
    color:white;
    background-image: url("/images/P1016156.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.project_contact_name {
    text-align: center;
}

.file_card, .notes_card {
    opacity: 0.8;  
    margin-left: 50px; 
    margin-right: 50px;
}
.card_notes {
    margin:30px;
    
}
.file_text {
    margin: 10px;
}
.cust_info {
    margin: 10px;
}
.add_custpage {
    /* margin: 20px; */
    background-image: url("/images/workbench.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    margin-Top: auto;
}
.add_card {
    opacity: 0.8;
    height: 800px;
    /* width: 200px; */
    text-align: center;
    margin-left:380px;
    margin-right:380px;
    /* margin-top: 100px; */
    /* margin-bottom: 200px; */
}
.addcust_text {
    font-family: 'Vampiro One', cursive;
    margin: 10px;
    font-size: 40px;
    
}
.new-cust-intake {
    padding:30px;
}

.fit_main {
    background-image: url("/images/workbench.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.fit_card {
    opacity: 0.8;  
    margin-left: 50px; 
    margin-right: 50px;
}
.fit_card_img {
    text-align: center;
    margin-bottom:50px;
}
.fit_text, .notes_text {
    margin: 20px;
    
}

.build_main{
    background-image: url("/images/workbench.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.build_card, .notes_card{
    opacity: 0.8;  
    margin-left: 50px; 
    margin-right: 50px;
}

.admin_table{
    font-size: 30px;
}
/* register page */
.reg_card {
    opacity: 0.8;
    height: 390px;
    /* width: 200px; */
    text-align: center;
    margin-left:400px;
    margin-right:400px;
    margin-top: 100px;
    margin-bottom: 200px;
}
.reg_div {
    background-image: url("/images/chair.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    margin-Top: auto;
}
/* .project_contact{
    background-image: url("/images/lamp1.JPG");
} */

